<div>
    <h1>Usuario</h1>
    <div class="container-fluid d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fw-bold">Nombre: {{usuario.fullName}}</h5>
                <p id="id" class="card-text fw-bolder">ID: {{usuario._id}}</p>
                <p id="id" class="card-text fw-bolder">Cart: {{usuario.cart}}</p>
                <p class="card-text fw-bolder">Role: {{usuario.role}}</p>
                <p class="card-text fw-bolder">Email: {{usuario.email}}</p>
            </div>
            <div class="d-flex justify-content-evenly">
                <button id="change-role" class="btn btn-primary" data-userid="{{usuario._id}}">Cambiar rol</button>
                <button id="delete-user" class="btn btn-danger" data-userid="{{usuario._id}}">Eliminar</button>
            </div>
            <br>
            <a href="/userfind" class="btn btn-info">Volver</a>
        </div>
    </div>
</div>

<script src="/js/userManagement.js"></script>
